<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <div fxFlex="0 1 calc(80%)" fxLayoutAlign="flex-start">
    <page-header fxFlex="100" [title]="'admin.security.users.title'" [subtitle]="'admin.security.users.subtitle'" [showBreadCrumb]="true"></page-header>
  </div>
  <div fxFlex="0 1 calc(20%)" fxLayoutAlign="flex-end">
    <div style="display: block; padding: 16px; margin: -16px -16px 16px;">
      <button mat-raised-button color="primary"> <mat-icon>add</mat-icon> CREATE USER</button>
    </div>
  </div>
</div>

<form class="form-field-full " [formGroup]="userSearchForm">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="0 1 calc(70%)" fxLayoutAlign="flex-start">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Search for users</mat-label>
        <input matInput placeholder="Search for users" formControlName="query">
        <mat-icon matSuffix class="dull-icon">search</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="0 1 calc(30%)" fxLayoutAlign="flex-start">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Search by</mat-label>
        <mat-select [formControl]="searchby">
          <mat-option *ngFor="let searchByField of searchByFields" [ngValue]="searchby" [value]="searchByField.value">{{searchByField.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>

<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-progress-bar mode="query" *ngIf="isLoadingResults"></mat-progress-bar>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <caption>Users List</caption>
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th scope="col" id="rownumber" mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row">{{row.number}}</td>
        </ng-container>
  
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th scope="col" id="title" mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>
  
        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th scope="col" id="state" mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let row">{{row.state}}</td>
        </ng-container>
  
        <!-- Created Column -->
        <ng-container matColumnDef="created">
          <th scope="col" id="createdon" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Created
          </th>
          <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th scope="col" id="actions" mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button>
              <mat-icon>launch</mat-icon>        
            </button>
            <button mat-icon-button>
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>