<footer class="docs-footer">
  <div class="docs-footer-list">
    <div _ngcontent-ckx-c60="" class="docs-footer-logo">
      <div _ngcontent-ckx-c60="" class="footer-logo">
        <img _ngcontent-ckx-c60="" src="../../../assets/img/homepage/angular-white-transparent.svg" alt="Angular icon" class="docs-footer-angular-logo">
        <span _ngcontent-ckx-c60="">
          <a _ngcontent-ckx-c60="" href="https://angular.io">Learn Angular</a>
        </span>
      </div>
    </div>
    <div _ngcontent-ckx-c60="" class="docs-footer-version">
      <img _ngcontent-ckx-c60="" src="../../../assets/img/angular-material-logo.svg" alt="Angular Material icon" class="angular-material-logo">
      <span _ngcontent-ckx-c60="" class="version">Current Version: 10.1.2</span>
    </div>
    <div _ngcontent-ckx-c60="" class="docs-footer-copyright">
      <div _ngcontent-ckx-c60="">
        <span _ngcontent-ckx-c60="">Powered by Google ©2010-2020.</span>
        <a _ngcontent-ckx-c60="" href="https://github.com/angular/components/blob/master/LICENSE">Code licensed under an MIT-style License.</a>
        <span _ngcontent-ckx-c60="">Documentation licensed under CC BY 4.0.</span>
      </div>
    </div>
  </div>
</footer>