.universum-page-header {
  display: block;
  padding: 16px;
  margin: -16px -16px 16px;
  background-color: #3f51b5;
  color: #fff;

  .universum-breadcrumb {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.universum-page-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
