.universum-page-header {
  display: block;
  padding: 16px;
  margin: -16px -16px 16px;

  .universum-breadcrumb {
    margin-top: 8px;
    margin-bottom: 0;
  }

  .mat-icon.help-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    font-size: 24px;
    line-height: 18px;

    [dir='rtl'] & {
      margin-right: 10px;
      margin-left: auto;
    }
  }
}

.header-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.header-subtitle {
  font-size: 0.88rem;
  font-weight: 400;
  padding: 10px 0 0;
  opacity: .6;
}
