/** Custom table style not with theme */
.table-container-wrap {
    position: relative;
    min-height: 200px;
    margin-top: 20px;
  }
  
  .table-container {
    position: relative;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .table-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }

  .nodata-row {
    height: 56px;    
  }

  .mat-row.selected {
    background: #d8d8d8;
}

  .mat-row:hover {
    background-color: #d8d8d8;
  }

  .mat-cell {
    padding: 10px 15px 10px 0;
  }